
<!DOCTYPE html>
<html>

<head>
<<<<<<< HEAD
        <title>MU - Liverpool</title>
        <link rel="icon" type="image/png" href="./anh/icon/logo.png"/>
    
=======
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= results[0].name%></title>

>>>>>>> de59de112daaa72f9efcea8a7ba82f0807affe0b


    <style>
        .main:after {
            content: "";
            display: table;
            clear: both;
        }
        
        .div1 {
            float: left;
            width: 700px;
            margin-left: 50px;
            padding-right: 30px;
        }
        
        .bang {
            width: 670px;
        }
        
        table,
        tr,
        th,
        td {
            border: 1px solid red;
        }
        
        tr,
        th,
        td {
            margin: 1px;
            text-align: center;
        }
        
        .cotChan {
            background-color: #b6e983;
        }
        
        .div2 {
            float: left;
            width: 300px;
        }
        
        .main {
            max-width: 1100px;
            padding: 30 0px;
        }
        
        .main {
            max-width: 1200px;
            display: flex;
            margin: 0 auto;
            padding-top: 60px;
        }
        
        .main .row {
            margin-top: 15px;
            margin-left: 50px;
        }
        
        * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }
        
        html {
            font-size: 12px;
        }
        
        .tin_lq .row {
            margin-left: -5px;
        }
        /*----------CODE HEADING-----------------------*/
        /*---------------------------------------------*/
        
        * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }
        
        html {
            font-size: 12px;
        }
        /*--------------HEADING ---------------------*/
        
        .hdr {
            width: 100%;
            position: fixed;
            height: 50px;
            background: #404040;
            margin: 0 auto;
            top: 0px;
            z-index: 10;
        }
        
        div {
            display: block;
        }
        
        .contnr {
            margin: 0 auto;
            width: 1004px;
            background: #fff;
        }
        /*----------------Menu right---------------*/
        
        #contnr_right {
            position: relative;
        }
        
        .tpMnRt {
            position: absolute;
            top: 0;
            right: 0;
            width: 815px;
            height: 50px;
        }
        
        .tpMnRt ul {
            border-right: black solid 1px;
            border-left: black solid 1px;
            padding-left: 20px;
            height: 50px;
            line-height: 40px;
            width: 760px;
            float: left;
        }
        
        ul,
        li {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        
        .tpMnRt ul li {
            /* padding: 0 3px; */
            float: initial;
            cursor: pointer;
            display: inline-block;
            list-style: none;
            text-align: center;
        }
        
        .tpMnRtx ul li {
            height: 50px;
            padding-top: 5px;
        }
        
        .rlt {
            position: relative;
            margin: 0 10px;
        }
        
        .rlt:hover,
        .rlt:active {
            background-color: black;
        }
        
        .tpMnRtx ul li a:first-child {
            height: 10px;
            display: block;
            margin-bottom: 4px;
        }
        
        .tpMnRtx ul li a {
            text-decoration: none;
            /*khong gach chan*/
        }
        
        .contnr .tpMnRtx ul li a .tit {
            font-size: 10px;
            padding: 0 1px;
            border: 0;
            margin: 0;
            /*vertical-align: middle;*/
        }
        
        .tpMnRt ul li a.tit {
            font-size: 10px;
            line-height: 40px;
            color: #fff;
            padding: 0 7px 0 0;
            white-space: nowrap;
            text-transform: uppercase;
        }
        /*--------------Search--------------------*/
        /*-------------------search-----------------------*/
        
        .tpMnRt .icoSch {
            float: right;
            position: absolute;
            border-right: black solid 1px;
            height: 50px;
            padding-right: 8px;
            padding-top: 5px;
            right: 0;
        }
        
        .hsFedBck {
            float: right;
            height: 32px;
            width: 32px;
            position: relative;
        }
        
        .icoSch form {
            margin-top: -1px!important;
        }

        .icoSch form button{
        border-radius: 10px;
        background-color:#404040;
        height: 40px;
        width: 40px; 
        margin-top: -40px;
        margin-left: -6px;
    }
        
        .icoSch .hsFedBck input[placeholder] {
            opacity: 0;
        }
        
        .hsFedBck .frmctrl {
            border: 0 none;
            background: transparent;
            box-shadow: none;
            display: block;
            width: 150%;
            height: 20px;
            font-size: 14px;
            color: #555;
        }
        
        .icoSch .hsFedBck:hover input[placeholder],
        .icoSch .hsFedBck:active input[placeholder] {
            opacity: 1;
        }
        
        .icoSch .hsFedBck:hover .frmctrl,
        .icoSch .hsFedBck:active .frmctrl {
            position: relative;
            width: 770px;
            height: 40px;
            background-color: #fff;
            right: 770px;
        }
        
        .hsFedBck a {
            position: absolute;
            right: 6px;
            top: 8px;
        }
        
        .icoSearTop {
            background: url(http://cdn.24h.com.vn/images/sprites092018.png) no-repeat -50px -4887px;
            display: inline-block;
            width: 24px;
            height: 24px;
        }
        /*------------------------------------------*/
        /*--------------Menu Left------------------*/
        
        .log {
            float: left;
            width: 180px;
            height: 50px;
            overflow: hidden;
            position: relative;
            margin-top: 3px;
        }
        
        .logoOld {
            padding-top: 5px;
            left: 0;
        }
        
        .hmClk {
            position: absolute;
            height: 50px;
            left: -1px;
        }
        
        .hmClk img {
            border: 0;
        }

        .contnr .log a{
        text-decoration: none;
        font-size: 30px;
        color: #fff;
        font-weight: 600;
        }

        
        /*------------------------Danh muc------------*/
        
        .mnTp {
            width: 80px;
            /*70px*/
            float: left;
            border-left: black solid 1px;
            border-right: black solid 1px;
            height: 50px;
            padding: 12px 0 0 10px;
        }
        
        .nav {
            list-style: none;
            margin: 0;
            padding: 0;
            float: left;
            left: -101px;
            top: -9px;
        }
        
        .mnTp ul {
            width: 182px;
            margin-right: 0;
            font-size: 11px;
            margin-bottom: -1px;
        }
        
        .mnTp ul,
        .mnTp ul li {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        
        #headerd .sbLix {
            margin-top: -50010px;
            margin-left: -21px;
        }
        
        .nav .sbLi {
            width: 100%;
        }
        
        .mnTp .nav {
            width: 182px;
            margin-right: 0;
            font-size: 10px;
            margin-bottom: -1px;
        }
        
        .nav li {
            margin: 0;
            padding: 0;
            color: white;
            font-size: 10px;
            position: relative;
            margin-left: 0px;
            cursor: pointer;
        }
        
        .mnTp .nav .sbLi a {
            font-size: 10px;
            background: url(//cdn.24h.com.vn/images/2014/menu-top-xem-danh-muc.gif) no-repeat 0 0;
            height: 23px;
            border: 0;
            color: #fff;
            background-position: 40px 0;
            padding-top: 29px!important;
            text-transform: uppercase;
        }
        
        .nav a {
            position: relative;
            width: 157px;
            margin-right: -181px;
            float: left;
            font-weight: 400;
            text-align: left;
            line-height: 16px;
            padding: 6px 0 5px 25px !important;
        }
        
        .sbA {
            margin-top: 50000px;
        }
        
        a {
            text-decoration: none;
        }
        
        #danh_muc_text {
            position: relative;
            font-size: 11px;
            text-transform: uppercase;
            top: 22px;
        }
        
        #danh_muc_icon {
            position: relative;
            bottom: 15px;
            right: 7px;
        }
        
        .hdr_mobile {
            display: none;
        }
        
        .zn-container_reponsive,
        .l-container_reponsive {
            display: none;
        }
        /*REPONSIVE TOP*/
        /*TIN NHÁY NHÁY---------------------------------------------------------------------------------------------*/
        
        .anh_qc_cot2 {
            width: 100%;
            height: 600px;
            width: 300px;
            background-image: url('../anh/thuongDinh.png');
            background-repeat: no-repeat;
            -webkit-animation: anh_qc 20s infinite;
        }
        
        @-webkit-keyframes anh_qc {
            0% {
                background-image: url('../anh/thuongDinh.png');
                background-repeat: no-repeat
            }
            25% {
                background-image: url('../anh/anh_qc_cot2.png');
                background-repeat: no-repeat
            }
            50% {
                background-image: url('../anh/anh_qc_cot2_1.png');
                background-repeat: no-repeat
            }
            75% {
                background-image: url('../anh/anh_qc_cot2_2.png');
                background-repeat: no-repeat
            }
        }
        /*-----------------TIN TỨC THỊ TRƯỜNG-----------------------------------------------------------------------*/
        
        .tinPhu {
            float: left;
        }
        
        .anhtinPhu {
            float: left;
            margin-right: 5px;
            margin-top: 0;
            margin-bottom: 7px;
            width: 33.32%;
        }
        /*đến tin trong 1 khung-showbiz*/
        
        .showbiz {
            text-decoration: none;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            line-height: 1.5;
        }
        
        .showbiz:hover {
            color: #378b36;
        }
        /*tin tức thi trường*/
        
        .anhtinPhu+div>a {
            text-decoration: none;
            color: black;
            font-size: 19px;
        }
        
        .anhtinPhu+div>a:hover {
            color: #378b36;
        }
        
        .anhtinPhu+div {
            float: left;
            width: 60%;
        }
        /*dời sống sobizz*/
        
        .doi_song_showbiz {
            font-family: Arial, Helvetica, sans-serif;
            width: 100%;
            border-bottom: 1px solid black;
            text-align: center;
            padding-top: 7px;
            padding-bottom: 7px;
            background-image: url('../anh/cot2_nen.png');
            background-size: 340px 40px;
            background-repeat: no-repeat;
            color: seashell;
            font-weight: 600
        }
        
        .doi_song_showbiz_tin {
            width: 100%;
            border-bottom: 1px solid black;
        }
        /* .div1{
    max-width: 700px;
    background-color:white;
    margin-left: 90px;
    margin-right: 30px;
} */
        /*------------------------------*/
        
        .trangchu,
        .chude {
            text-decoration: none;
            color: black;
            font-size: 25px;
            margin-right: 0;
            padding-right: 10px;
            -webkit-animation: trangchu 5s infinite;
        }

        .chude{
            text-transform: uppercase;
            margin-left: 10px;

        }
        
        
        /* @-webkit-keyframes trangchu {
            0% {
                color: aqua
            }
            25% {
                color: rgb(219, 31, 31)
            }
            50% {
                color: rgb(88, 34, 214)
            }
            75% {
                color: rgb(225, 240, 14)
            }
        } */
        
        #list_phia_duoi_phan_tin>ul {
            list-style: none!important;
            font-size: 13px!important;
            float: left!important;
            margin-left: 0!important;
            width: 100%!important;
            padding-inline-start: 0!important;
        }
        
        #list_phia_duoi_phan_tin>ul>li {
            display: inline!important;
            float: left!important;
            background-color: #e1e1e1!important;
            margin-right: 2px!important;
            /*khoang cach giua 2 li*/
            padding: 3px 5px!important;
        }
        
        #list_phia_duoi_phan_tin>ul>li:hover {
            background-color: #a5f059!important;
        }
        
        #header1 {
            display: block;
            font-size: 32px;
        }
        
        .thoigian {
            font-size: 13px;
            font-family: Arial, Helvetica, sans-serif;
            color: #999;
            float: left;
        }
        
        .thoigianLink {
            padding-bottom: 20px;
        }
        
        .iconMXH {
            float: right;
            width: 25px;
            height: 25px;
            background-color: red;
            margin-left: 7px;
            margin-right: 5px;
        }
        
        #video {
            width: 100%;
        }
        
        .tintuc {
            width: 100%;
            padding-bottom: 10px;
        }
        
        .tintucChu {
            font-size: 20px;
            line-height: 1.6;
            padding-bottom: 10px;
        }
        /*tin nhanh co 3 cái nho nhỏ*/
        
        .tinNhanh {
            float: left;
            width: 100%;
            max-width: 100px;
            height: 100px;
        }
        
        .tinNhanh+div {
            width: 160px;
            float: left;
            background-color: #f2f2f2;
            height: 100px;
            padding: 7px;
            text-align: left;
        }
        /*phần cuối trang*/
        
        .tabCuoi {
            font-weight: 600;
            color: #fff;
            margin: 0px 15px;
            font-size: 15px;
            text-decoration: none;
        }
        
        .tabCuoi:hover,
        .tabCuoi:active {
            color: #7d7d7d;
        }
        
        .chuCuoi {
            width: 998px;
            margin: 0 auto;
            font-size: 12px;
            color: #7d7d7d;
            text-align: center;
            padding: 10px 0 0;
            margin-bottom: 10px;
        }
        
        .tintuc center {
            color: blue;
            font-size: 15px;
        }
        
        .chuCuoi p {
            font-size: 15px!important;
        }
        
        .tlqHeader .tit {
            display: block;
            font-size: 175%;
            text-transform: uppercase;
            color: black;
            border-bottom: 2px solid black;
            line-height: 30px;
            margin-top: 30px;
            font-weight: 600;
        }
        
        .tin_lq {
            z-index: 0;
        }
        
        .column {
            float: left;
            width: 33.33%;
            padding: 10px;
            height: 250px;
            /* Should be removed. Only for demonstration */
        }
        /* Clear floats after the columns */
        
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        
        .mot_tlq {
            margin-left: -10px;
            width: 100%;
            display: inline-block;
        }
        
        .mot_tlq a .img {
            display: block;
            height: 150px;
            text-align: center;
            margin-bottom: 6px;
        }
        
        .width-100 {
           
            object-fit: cover;
        }
        
        .mot_tlq header {
            display: block;
            color: #333;
            padding: 0 0 5px;
            margin: 10px;
        }

        
        .bld {
            font-size: 140%;
            height: 90px;
            display: block;
            overflow: hidden;
            line-height: 1.2;
            margin-bottom: 0;
            color: #333;
            font-weight: 600;
            text-decoration: none;
        }
        
        .bld:hover,
        .bld:active {
            color: #c40;
        }
    </style>

</head>

<body>
    <!--START MENU HOME-->
    <!--THANH TOP-->
    <div id="zn-top">
        <!--START HEADING-->
        <header class="hdr" id="headerd">
            <div class="menu_bar">
                <!--START MENU RIGHT-->
                <div class="contnr" id="contnr_right">
                    <div class="tpMnRt tpMnRtx">
                        <ul>
                            <!--bong da-->
                            <li class="rlt">
                                <a href="/bongda" title="Bóng đá">
                                    <img class="initial loading" src="../Image/bong_da.png" alt="Khong the hien thi">
                                </a>
                                <a href="/bongda" class="tit" title="Bóng đá">Bóng đá</a>
                            </li>

                            <!--kinh doanh-->
                            <li class="rlt">
                                <a href="/kinhdoanh" title="Kinh doanh">
                                    <img src="../Image/kinh_doanh.png" class="initial loading" alt="">
                                </a>
                                <a href="/kinhdoanh" class="tit" title="Kinh doanh">Kinh doanh</a>
                            </li>
                            <!--thi truong-->
                            <li class="rlt">
                                <a href="/thitruong" title="Thị trường - Tiêu dùng">
                                    <div class="thi_truong_icon_full">
                                        <img class="initial loading" src="../Image/thi_truong.png" alt="">
                                    </div>


                                    <a href="/thitruong" class="thi_truong_text_full tit" title="Thị trường - Tiêu dùng">thị trường</a>

                                </a>

                            </li>
                            <!--Suc khoe-->
                            <li class="rlt">
                                <div class="suckhoe_icon">
                                    <a href="/suckhoe" title="Sức khỏe - Đời sống">

                                        <img class="initial loading" src="../Image/suc_khoe.png" alt="">


                                    </a>
                                    <a href="/suckhoe" class="tit" title="Sức khỏe - Đời sống">Sức khỏe</a>
                                </div>
                            </li>
                            <!--Hi-tech-->
                            <li class="rlt">
                                <a href="/hitech" title="Thời trang Hi-tech">
                                    <img class="initial loading" src="../Image/hi_tech.png" alt="">
                                </a>
                                <a href="/hitech" class="tit" title="Thời trang Hi-tech">Hi-tech</a>
                            </li>
                            <!--Đời sống showbiz-->
                            <li class="rlt">
                                <a href="/showbiz" title="Đời sống showbiz">
                                    <img class="initial loading" src="../Image/showbiz.png" alt="">
                                </a>
                                <a href="/showbiz" class="tit" title="Đời sống showbiz"> Showbiz</a>
                            </li>
                            <!--the gioi-->
                            <li class="rlt">
                                <a href="/thegioi" title="Thế giới">
                                    <img class="initial loading" src="../Image/the_gioi.png" alt="">
                                </a>
                                <a href="/thegioi" class="tit">Thế giới</a>
                            </li>

                            <!--phia dep-->
                            <li class="rlt">
                                <a href="/phaidep" title="Phái đẹp">
                                    <img class="initial loading" src="../Image/phai_dep.png" alt="">
                                </a>
                                <a href="/phaidep" class="tit" title="Phái đẹp">Phái đẹp</a>
                            </li>
                            <!--am thuc-->
                            <li class="rlt">
                                <a href="/amthuc" title="Ẩm thực">
                                    <img class="initial loading" src="../Image/am_thuc.png" alt="">
                                </a>
                                <a href="/amthuc" class="tit" title="Ẩm thực">Ẩm thực</a>
                            </li>

                        </ul>
                        <!--search-->
                        <div class="icoSch">
                            <div class="frmGrp hsFedBck" id="icon_search">
                                <form style="margin: 0px" name="search_box" id="search_box" target="_blank" action="/" method="post">
                                    <input class="frmctrl" id="search" placeholder="Nhập tin tức cần tìm" spellcheck="false" autocomplete="off" type="text" name="word">
                                    <button type="submit" style="border-radius: 10px;background-color:#404040;height: 40px;width: 40px"><span class="icoSearTop"></span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END MENU RIGHT-->

                <!--START MENU LEFT-->
                <!--24h-->
                <div class="contnr">
                    <div class="log">
                        <div class="hmClk logoOld">
                            <a href="/">News Online</a>
                        </div>
                    </div>
                </div>
                <!--END MENU LEFT-->
            </div>
        </header>

    </div>
    <!--END MENU HOME-->

    <div class="main">

        <div class="row">
            <!--cột 1----------------------------------------->
            <div class="div1">
                <!--các link điều hướng TRANG CHỦ, BÓNG ĐÁ-->
                <nav>
                    <a class="trangchu" href="/" style="border-right:1px solid black;">TRANG CHỦ</a>
                    <a class="chude" href="/<%=results[0].type%>"> <b> <%= results[0].type1%></b> </a><br><br>
                </nav>
                <!--tên chính của tin------------------------------------>
                <!--sao lại là result[0]-->
                <h1 id="header1">
                    <%= results[0].name%>
                </h1>
                <!--ngày tháng năm VÀ chia sẻ mạng xã hội------------------>
                <div class="thoigianLink">
                    <div class="thoigian" style="margin-top: 9px;">
                        <%= results[0].time%>
                    </div>
                    <br>
                   
                    <div style="float:right;z-index: 0;" class="fb-share-button" data-href="https://news-hot.herokuapp.com/<%= results[0].type%>/<%= results[0].id%>" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fxem.vn%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
                    <div style="overflow: auto"></div>
                </div>
                <!--tiêu đề con thứ 2-------------------------------------------------------------->
                <div style="margin-top: 20px;margin-bottom: 20px;">
                    <span style="font-size:1.3em;font-weight: 700 ">
                        <%= results[0].name1%> </span>
                </div>
                



                <!--tin tức------------------------------------------------------------------------------------------------------------------------------------------>
                <div class="tintucChu">
                    <%= results[0].content1%>
                </div>

                <!--tin tức ảnh và phụ đề-->
                <div class="tintuc"><img src=" <%= results[0].image1%>" alt="anhTinTuc" style="width: 100%;"></div>
                <div class="tintuc"><span style="color:blue;">
                        <center>----------------------------------------</center>
                    </span>
                </div>
                <div class="tintucChu">
                    <%= results[0].content2%>
                </div>
                <div class="tintucChu">
                    <%= results[0].content3%>
                </div>
                <div class="tintucChu">
                    <%= results[0].content4%>
                </div>
                <!--tin tức ảnh và phụ đề-->
                <div class="tintuc"> <img src=" <%= results[0].image2%>" alt="anhTinTuc" style="width: 100%;"></div>
                <div class="tintuc"><span style="color:blue;">
                        <center>-----------------------------</center>
                    </span>
                </div>
                <div class="tintucChu">
                    <%= results[0].content5%>
                </div>

                <!------icon link chia sẻ------->

                <div style="float: right;padding-top: 7px">
                    <span style="font-size: 150%"><b> <%= results[0].author%></b> </span>
                </div>
                <!--table quảng cáo-->
                <div class="fb-comments" data-href="https://news-hot.herokuapp.com/<%= results[0].type%>/<%= results[0].id%>" data-width="auto" data-numposts="5"></div>



                <!---Tin liên quan-->
                <div>
                    <div class="tlqHeader">
                        <header class="tit">Tin Liên Quan</header>
                    </div>
                    <!--hàng 1---------------------------------------------------->
                    <div class="tin_lq ">
                        <div class="row">


                            <% for(var i = 1 ; i <=3 ; i++){
                                %>

                                <div class="column">
                                    <article class="mot_tlq">
                                        <span class="img rlt">
                                            <a href="/<%= results[i].type%>/<%= results[i].id%>">
                                                <img src="<%= results[i].image2%>"
                                                    alt=""
                                                    class="width-100 loaded" width="200" height="150"></a>
                                        </span>
                                        <header>
                                            <a href="/<%= results[i].type%>/<%= results[i].id%>" class="bld">
                                                <%= results[i].name%>
                                            </a>
                                        </header>
                                    </article>
                                </div>

                                <% 
                                   }%>






                        </div>

                    </div>
                </div>

                <!---hàng 2-------------------------------------------------->
                <div class="tin_lq ">
                    <% for(var i = 4 ; i <=6 ; i++){
                        %>

                        <div class="column">
                            <article class="mot_tlq">
                                <span class="img rlt">
                                    <a href="/<%=results[i].type%>/<%= results[i].id%>">
                                        <img src="<%= results[i].image2%>"
                                            alt=""
                                            class="width-100 loaded" width="200" height="150"></a>
                                </span>
                                <header>
                                    <a href="/<%=results[i].type%>/<%= results[i].id%>" class="bld">
                                        <%= results[i].name%>
                                    </a>
                                </header>
                            </article>
                        </div>

                        <% 
                           }%>
                </div>

            </div>
        </div>


        <br><br><br>
        <!---cột 2----------------------------------->
        <div class="div2">
            <a href="#">
                <div class="anh_qc_cot2">
                </div>
            </a>

            <h3 style="color:black;margin:20px 0px 10px 5px;; font-size: 20px">Tin Tức Thị Trường</h3>
            <hr style="color:black;">

            <% for(var i = 1 ; i <=6 ; i++){
                %>

                <div class="tinPhu" style="width: 330px; height: 110px; margin-bottom: 10px">
                    <div class="anhtinPhu" style="float:left;width:35%; height: 110px;">
                        <a href="/<%= results[i].type%>/<%= results[i].id%>"><img width="115" height="110"src="<%= results[i].image2%>" alt="" title="a1" width="200" height="150"></a>
                    </div>

                    <div style="float:left;width:60%;padding-top:10px;padding-left: 10px;">
                        <a href="/<%= results[i].type%>/<%= results[i].id%>">
                            <%= results[i].name%>
                        </a>
                    </div>
                </div>

                <% 
                   }%>




        </div>

    </div>


    </div>




    </div>
    <!---phần cuối-->


    <!---phần cuối trang-->
    <div>

        <div style="margin: 0 auto;text-align: center;background:#404040;padding: 5px;">
            <a href="/gioithieu" class="tabCuoi">Giới thiệu</a>
            <a href="/feedback" class="tabCuoi">Góp ý</a>

        </div>
        <!------>
        <div class="chuCuoi">
            <p>© 2017 Trường Đại học Công nghệ, Đại học Quốc Gia Hà Nội </p>

            <p> Địa chỉ: E3, 144 Xuân Thủy, Cầu Giấy, Hà Nội </p>
            <p> Điện thoại: 024.37547.461; Fax: 024.37547.460; Email: uet@vnu.edu.vn
            </p>
        </div>
        <!----->

    </div>
    <!--hết phần cuối trang-->
</body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.3&appId=2068350990124808&autoLogAppEvents=1"></script>

</html>