<!DOCTYPE html>
<html>

<head>
    <title>News Online</title>
    <link rel="icon" type="image/png" href="https://cdn2.iconfinder.com/data/icons/office-125/1000/news-512.png"/>
    <link rel="stylesheet" href="CSS/home_top.css">
    <link rel="stylesheet" href="CSS/style_chude.css">
    <link rel="stylesheet" href="CSS/motTrangTin_div2.css">
    <link rel="stylesheet" href="CSS/style_chude_lienquan.css">
    <link rel="stylesheet" href="CSS/phan_Cuoi_Trang.css">

</head>

<body>
    <!--THANH TOP-->
    <div id="zn-top">
        <!--START HEADING-->
        <header class="hdr" id="headerd">
            <div class="menu_bar">
                <!--START MENU RIGHT-->
                <div class="contnr" id="contnr_right">
                    <div class="tpMnRt tpMnRtx">
                        <ul>
                            <!--bong da-->
                            <li class="rlt">
                                <a href="/bongda" title="Bóng đá">
                                    <img class="initial loading" src="../Image/bong_da.png" alt="Khong the hien thi">
                                </a>
                                <a href="/bongda" class="tit" title="Bóng đá">Bóng đá</a>
                            </li>

                            <!--kinh doanh-->
                            <li class="rlt">
                                <a href="/kinhdoanh" title="Kinh doanh">
                                    <img src="../Image/kinh_doanh.png" class="initial loading" alt="">
                                </a>
                                <a href="/kinhdoanh" class="tit" title="Kinh doanh">Kinh doanh</a>
                            </li>
                            <!--thi truong-->
                            <li class="rlt">
                                <a href="/thitruong" title="Thị trường - Tiêu dùng">
                                    <div class="thi_truong_icon_full">
                                        <img class="initial loading" src="../Image/thi_truong.png" alt="">
                                    </div>


                                    <a href="/thitruong" class="thi_truong_text_full tit" title="Thị trường - Tiêu dùng">thị trường</a>

                                </a>

                            </li>
                            <!--Suc khoe-->
                            <li class="rlt">
                                <div class="suckhoe_icon">
                                    <a href="/suckhoe" title="Sức khỏe - Đời sống">

                                        <img class="initial loading" src="../Image/suc_khoe.png" alt="">


                                    </a>
                                    <a href="/suckhoe" class="tit" title="Sức khỏe - Đời sống">Sức khỏe</a>
                                </div>
                            </li>
                            <!--Hi-tech-->
                            <li class="rlt">
                                <a href="/hitech" title="Thời trang Hi-tech">
                                    <img class="initial loading" src="../Image/hi_tech.png" alt="">
                                </a>
                                <a href="/hitech" class="tit" title="Thời trang Hi-tech">Hi-tech</a>
                            </li>
                            <!--Đời sống showbiz-->
                            <li class="rlt">
                                <a href="/showbiz" title="Đời sống showbiz">
                                    <img class="initial loading" src="../Image/showbiz.png" alt="">
                                </a>
                                <a href="/showbiz" class="tit" title="Đời sống showbiz"> Showbiz</a>
                            </li>
                            <!--the gioi-->
                            <li class="rlt">
                    
                                <a href="/thegioi" title="Thế giới">
                                    <img class="initial loading" src="../Image/giai_tri.png" alt="">
                                </a>
                                <a href="/thegioi" class="tit">Giải Trí</a>
                            </li>

                            <!--phia dep-->
                            <li class="rlt">
                                <a href="/phaidep" title="Phái đẹp">
                                    <img class="initial loading" src="../Image/phai_dep.png" alt="">
                                </a>
                                <a href="/phaidep" class="tit" title="Phái đẹp">Phái đẹp</a>
                            </li>
                            <!--am thuc-->
                            <li class="rlt">
                                <a href="/amthuc" title="Ẩm thực">
                                    <img class="initial loading" src="../Image/am_thuc.png" alt="">
                                </a>
                                <a href="/amthuc" class="tit" title="Ẩm thực">Ẩm thực</a>
                            </li>

                        </ul>
                        <!--search-->
                        <div class="icoSch">
                            <div class="frmGrp hsFedBck" id="icon_search">
                                <form style="margin: 0px" name="search_box" id="search_box" target="_blank" action="/" method="post">
                                    <input class="frmctrl" id="search" placeholder="Nhập tin tức cần tìm" spellcheck="false" autocomplete="off" type="text" name="word">
                                    <button type="submit" ><span class="icoSearTop"></span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END MENU RIGHT-->

                <!--START MENU LEFT-->
                <!--24h-->
                <div class="contnr">
                    <div class="log">
                        <div class="hmClk logoOld">
                            <a href="/">News Online</a>
                        </div>
                    </div>
                </div>
                <!--END MENU LEFT-->
            </div>
        </header>

    </div>
    
    <!--HET THANH TOP-->


    <!--START TIN NONG-->
    <div class="container">
        <div class="zn-container">

            <div class="title">
                <p style="padding-right: 10px;">trang chủ</p>
                <h1 style="padding-left: 10px;">
                    <%= results[0].type1%>
                </h1>
            </div>
            <div class="flex-container column">

                <div class="main_">
                    <div class="top">
                        <div class="zn__column--idx-0">
                            <ul class="col1-tinnong">

                                <div class="item">
                                    <div class="img">
                                        <a href="/<%= results[0].type%>/<%= results[0].id%>" title="<%= results[0].name%>">
                                            <img class="width-100 initial loaded " src="<%= results[0].image2%>" alt="">
                                        </a>

                                    </div>
                                    <div class="inner">
                                        <header>
                                            <h2 class="name cxanh">
                                                <a href="/<%= results[0].type%>/<%= results[0].id%>">
                                                    <%= results[0].name%>
                                                </a>
                                            </h2>
                                        </header>
                                        <div class="desc">
                                            <%= results[0].name1%>
                                        </div>
                                    </div>
                                </div>

                            </ul>

                        </div>


                        <div class="zn__column--idx-1">
                            <div class="item">
                                <div class="img">
                                    <a href="/<%= results[1].type%>/<%= results[1].id%>">
                                        <img class="width-100" src="<%= results[1].image2%>" alt="">
                                    </a>
                                </div>
                                <div class="inner">
                                    <header>
                                        <h2 class="name">
                                            <a href="/<%= results[1].type%>/<%= results[1].id%>">
                                                <%= results[1].name%>
                                            </a>
                                        </h2>
                                    </header>
                                </div>
                            </div>


                            <div class="item" id="item2">
                                <div class="img">
                                    <a href="/<%= results[2].type%>/<%= results[2].id%>">
                                        <img class="width-100" src="<%= results[2].image2%>" alt="">
                                    </a>
                                </div>
                                <div class="inner">
                                    <header>
                                        <h2 class="name">
                                            <a href="/<%= results[2].type%>/<%= results[2].id%>">
                                                <%= results[2].name%>
                                            </a>
                                        </h2>
                                    </header>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="bottom">
                        <!--START TIN TRONG NUOC-->
                        <div class="l-container">
                            <div class="title">
                                <h1>tin trong nước</h1>
                            </div>

                            <%for(var i=1;i <  15 ;i++){
                                %>
                                <% if (results[i].nation == '1') { %>
                                    <div class="flex-container">

                                        <div class="zn__column--idx-0 column">
                                            <article class="bxDoiSbIt">
                                                <header>
                                                    <h2>
                                                        <span class="nwsTit postname">
                                                            <a href="/<%= results[i].type%>/<%= results[i].id%>"><%= results[i].name%></a>
                                                        </span>
                                                    </h2>
                                                </header>
                                                <span class="imgFlt imgNws">
                                                    <a href="/<%= results[i].type%>/<%= results[i].id%>">
                                                        <img class=" initial loaded"
                                                            src="<%= results[i].image1%>"
                                                            alt="" width="180" height="135">
                                                    </a>
                                                </span>
                                                <span class="nwsSp descd">
                                                    <%= results[i].content1.substring(0,96)%>
                                                </span>
                                                <span class="nwsTit">
                                                    <span class="updTm dated">
                                                        <span class="updTm"> <%= results[i].time%></span>
                                                </span>
                                                </span>
                                            </article>
                                        </div>
                                      <% i++ %>
                                        <div class="zn__column--idx-1 column">
                                            <article class="bxDoiSbIt">
                                                <header>
                                                    <h2>
                                                        <span class="nwsTit postname">
                                                            <a href="/<%= results[i].type%>/<%= results[i].id%>"><%= results[i].name%></a>
                                                        </span>
                                                    </h2>
                                                </header>
                                                <span class="imgFlt imgNws">
                                                    <a href="/<%= results[i].type%>/<%= results[i].id%>">
                                                        <img class=" initial loaded"
                                                            src="<%= results[i].image1%>"
                                                            alt="" width="180" height="135">
                                                    </a>
                                                </span>
                                                <span class="nwsSp descd">
                                                        <%= results[i].content1.substring(0,96)%>
                                                </span>
                                                <span class="nwsTit">
                                                    <span class="updTm dated">
                                                        <span class="updTm"> <%= results[i].time%></span>
                                                </span>
                                                </span>
                                            </article>
                                        </div>
                                    </div>
                                    <% } %>
                            <% }%>


                        </div>
                        <!--END TIN TRONG NUOC-->

                       
                        <!--START TIN QUOC TE-->
                        <div class="l-container">
                            <div class="title">
                                <h1>tin quốc tế</h1>
                            </div>
                            


                            <%for(var i=1; i  < 6 ;i++){
                                %>
                                
                                    <div class="flex-container">

                                        <div class="zn__column--idx-0 column">
                                            <article class="bxDoiSbIt">
                                                <header>
                                                    <h2>
                                                        <span class="nwsTit postname">
                                                            <a href="/<%= results[i].type%>/<%= results[i].id%>"><%= results[i].name%></a>
                                                        </span>
                                                    </h2>
                                                </header>
                                                <span class="imgFlt imgNws">
                                                    <a href="/<%= results[i].type%>/<%= results[i].id%>">
                                                        <img class=" initial loaded"
                                                            src="<%= results[i].image1%>"
                                                            alt="" width="180" height="135">
                                                    </a>
                                                </span>
                                                <span class="nwsSp descd">
                                                        <%= results[i].content1.substring(0,96)%>
                                                </span>
                                                <span class="nwsTit">
                                                    <span class="updTm dated">
                                                        <span class="updTm"> <%= results[i].time%></span>
                                                </span>
                                                </span>
                                            </article>
                                        </div>
                                      <% i++ %>
                                        <div class="zn__column--idx-1 column">
                                            <article class="bxDoiSbIt">
                                                <header>
                                                    <h2>
                                                        <span class="nwsTit postname">
                                                            <a href="/<%= results[i].type%>/<%= results[i].id%>"><%= results[i].name%></a>
                                                        </span>
                                                    </h2>
                                                </header>
                                                <span class="imgFlt imgNws">
                                                    <a href="/<%= results[i].type%>/<%= results[i].id%>">
                                                        <img class=" initial loaded"
                                                            src="<%= results[i].image1%>"
                                                            alt="" width="180" height="135">
                                                    </a>
                                                </span>
                                                <span class="nwsSp descd">
                                                        <%= results[i].content1.substring(0,96)%>
                                                </span>
                                                <span class="nwsTit">
                                                    <span class="updTm dated">
                                                        <span class="updTm"> <%= results[i].time%></span>
                                                </span>
                                                </span>
                                            </article>
                                        </div>
                                    </div>
                                    
                            <% }%>
                        </div>
                        <!--END TIN QUOC TE-->


                       


                        <!--CHỦ ĐỀ LIÊN QUAN -->
                        <div class="container_lquan">

                            <div class="content_lquan">
                                <div class="box1 box">
                                    <div class="title_lquan">
                                        <a href="/<%= results[21].type%>/<%= results[21].id%>">
                                            <span>
                                            <%= results[21].type1%>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="box_tin_hot_lquan">


                                        <div class="tin_hot_lquan">
                                            <div class="tin_hot_text_lquan">
                                                <a href="/<%= results[21].type%>/<%= results[21].id%>">
                                                    <span>
                                                            <%= results[21].name%> </span>
                                                </a>
                                            </div>
                                            <div class="img_tin_hot_lquan">
                                                <a href="#">
                                                    <img src="<%= results[21].image1%>" width="100%" height="200px">
                                                </a>
                                            </div>

                                        </div>

                                        <div class="title_hot_lquan">
                                            <ul>

                                                    <%for(var i=22; i  < 27 ;i++){
                                                      %>
                                                        <li>
                                                            <div class="title_hot_item_lquan">
                                                                <a href="/<%= results[i].type%>/<%= results[i].id%>">
                                                                    <span>
                                                                            <%= results[i].name%> </span>

                                                                </a>

                                                            </div>
                                                        </li>
                                                        <% }%>
                                            </ul>


                                        </div>

                                    </div>



                                </div>

                                <div class="box2 box">
                                    <div class="title_lquan">
                                        <a href="/<%= results[37].type%>">
                                            <span>
                                                    <%= results[37].type1%>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="box_tin_hot_lquan">


                                        <div class="tin_hot_lquan">
                                            <div class="tin_hot_text_lquan">
                                                <a href="/<%= results[37].type%>/<%= results[37].id%>">
                                                    <span>
                                                            <%= results[37].name%> </span>
                                                </a>
                                            </div>
                                            <div class="img_tin_hot_lquan">
                                                <a href="/<%= results[37].type%>/<%= results[37].id%>">
                                                    <img src="<%= results[37].image1%> " width="100%" height="200px">
                                                </a>
                                            </div>

                                        </div>

                                        <div class="title_hot_lquan">
                                            
                                                <ul>

                                                        <%for(var i= 38; i  < 42 ;i++){
                                                          %>
                                                            <li>
                                                                <div class="title_hot_item_lquan">
                                                                    <a href="/<%= results[i].type%>/<%= results[i].id%>">
                                                                        <span>
                                                                                <%= results[i].name%> </span>
    
                                                                    </a>
    
                                                                </div>
                                                            </li>
                                                            <% }%>
                                                </ul>

                                        </div>

                                    </div>



                                </div>
                            </div>


                        </div>
                        <!--END CHỦ ĐỀ LIÊN QUAN -->


                        <!-- TIN HOT TRONG TUAN -->


                        <!--END TIN HOT TRONG TUAN -->


                    </div>

                </div>
                <div class="zn__column--idx-2 right">
                    <div class="div2">
                        <a href="#">
                            <div class="anh_qc_cot2">
                            </div>
                        </a>

                        <h2 style="color:black;margin:30px 0px 10px 5px; font-size: 20px; ">Tin Tức Thị Trường</h2>
                        <hr style="color:black;">

                        <%for(var i= 30 ;i  <  40 ;i++){
                            %>
                            <% if (results[i].hot == 'YY') { %>
                                <div class="tinPhu" style="width: 280px;">
                                    <div class="anhtinPhu">
                                        <a href="/<%= results[i].type%>/<%= results[i].id%>"><img src="<%= results[i].image2%>" alt="" title="a1" width="120" height="100"></a>
                                    </div>

                                    <div style="float:left;margin-left: 23px;padding-left: 21px;padding-top: 10px;">
                                        <a href="/<%= results[i].type%>/<%= results[i].id%>"><%= results[i].name%></a>
                                    </div>
                                </div>
                                <% } %>
                        <% } %>
                        <div style="clear:left"></div>
                        <!--2 div tin nhỏ hơn---------------------------------------------------------------------------->

                        <!--phần giữ nguyên-->

                    </div>
                </div>


            </div>




        </div>




    </div>



    <!---phần cuối trang-->
    <div>

        <div class="thanh_cuoi">
            <a href="/gioithieu" class="tabCuoi">Giới thiệu</a>
            <a href="/feedback" class="tabCuoi">Góp ý</a>

        </div>
        <!------>
        <div class="chuCuoi">
            <p>© 2017 Trường Đại học Công nghệ, Đại học Quốc Gia Hà Nội </p>

            <p> Địa chỉ: E3, 144 Xuân Thủy, Cầu Giấy, Hà Nội </p>
            <p> Điện thoại: 024.37547.461; Fax: 024.37547.460; Email: uet@vnu.edu.vn
            </p>
        </div>
        <!----->

    </div>
    <!--hết phần cuối trang-->

</body>

</html>