<!DOCTYPE html>
<html>

<head>
    <title>NEWS Online</title>
    <link rel="icon" href="https://cdn.24h.com.vn/upload/icon/icon_24h.ico">
    <link rel="stylesheet" href="../CSS/home_top.css">
    <link rel="stylesheet" href="../CSS/home.css">
    <link rel="stylesheet" href="../CSS/MotTrangTin_div1.css">
    <link rel="stylesheet" href="../CSS/phan_Cuoi_Trang.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
  <link rel="stylesheet" href="../CSS/slide_show.css">

<body>


<!--STYLE-->
    <div class="content">
        <!--THANH TOP-->
        <div id="zn-top">
            <!--START HEADING-->
            <header class="hdr" id="headerd">
               <div class="menu_bar">
                   <!--START MENU RIGHT-->
                   <div class="contnr" id="contnr_right">
                       <div class="tpMnRt tpMnRtx">
                           <ul>
                               <!--bong da-->
                               <li class="rlt">
                                   <a href="/bongda" title="Bóng đá">
                                       <img class="initial loading"
                                           src="../Image/bong_da.png"
                                           alt="Khong the hien thi">
                                   </a>
                                   <a href="/bongda" class="tit" title="Bóng đá">Bóng đá</a>
                               </li>
                               
                               <!--kinh doanh-->
                               <li class="rlt">
                                   <a href="/kinhdoanh" title="Kinh doanh">
                                       <img src="../Image/kinh_doanh.png"
                                           class="initial loading" alt="">
                                   </a>
                                   <a href="/kinhdoanh" class="tit" title="Kinh doanh">Kinh doanh</a>
                               </li>
                               <!--thi truong-->
                               <li class="rlt">
                                   <a href="/thitruong" title="Thị trường - Tiêu dùng">
                                       <div class="thi_truong_icon_full">
                                            <img class="initial loading"
                                            src="../Image/thi_truong.png"
                                            alt="">
                                       </div>
                                   
                                       
                                       <a href="/thitruong" class="thi_truong_text_full tit" title="Thị trường - Tiêu dùng">thị trường</a>
                                       
                                   </a>
                                   
                               </li>
                               <!--Suc khoe-->
                               <li class="rlt">
                                    <div class="suckhoe_icon">
                                   <a href="/suckhoe" title="Sức khỏe - Đời sống">
                                       
                                            <img class="initial loading"
                                            src="../Image/suc_khoe.png"
                                            alt="">
                                       
                                       
                                   </a>
                                   <a href="/suckhoe" class="tit" title="Sức khỏe - Đời sống">Sức khỏe</a>
                                </div>
                               </li>
                               <!--Hi-tech-->
                               <li class="rlt">
                                   <a href="/hitech" title="Thời trang Hi-tech">
                                       <img class="initial loading"
                                           src="../Image/hi_tech.png"
                                           alt="">
                                   </a>
                                   <a href="/hitech" class="tit" title="Thời trang Hi-tech">Hi-tech</a>
                               </li>
                               <!--Đời sống showbiz-->
                               <li class="rlt">
                                   <a href="/showbiz" title="Đời sống showbiz">
                                       <img class="initial loading"
                                           src="../Image/showbiz.png"
                                           alt="">
                                   </a>
                                   <a href="/showbiz" class="tit" title="Đời sống showbiz"> Showbiz</a>
                               </li>
                               <!--the gioi-->
                               <li class="rlt">
                                   <a href="/thegioi" title="Thế giới">
                                       <img class="initial loading"
                                           src="../Image/the_gioi.png"
                                           alt="">
                                   </a>
                                   <a href="/thegioi" class="tit">Thế giới</a>
                               </li>
                              
                               <!--phia dep-->
                               <li class="rlt">
                                   <a href="/phaidep" title="Phái đẹp">
                                       <img class="initial loading"
                                           src="../Image/phai_dep.png"
                                           alt="">
                                   </a>
                                   <a href="/phaidep" class="tit" title="Phái đẹp">Phái đẹp</a>
                               </li>
                               <!--am thuc-->
                               <li class="rlt">
                                   <a href="/amthuc" title="Ẩm thực">
                                       <img class="initial loading"
                                           src="../Image/am_thuc.png"
                                           alt="">
                                   </a>
                                   <a href="/amthuc" class="tit" title="Ẩm thực">Ẩm thực</a>
                               </li>
                               
                           </ul>
                           <!--search-->
                           <div class="icoSch">
                                <div class="frmGrp hsFedBck" id="icon_search">
                                    <form style="margin: 0px" name="search_box" id="search_box" target="_blank">
                                        <input type="hidden" value="015713360359124540288:broohx1xloo" name="cx">
                                        <input type="hidden" value="UTF-8" name="ie">
                                        <input class="frmctrl" id="search" placeholder="Nhập tin tức cần tìm" type="text"
                                            name="q" spellcheck="false" autocomplete="off" value="Nhập tin tức cần tìm"
                                            onblur="javascript:if(this.value==''){this.value='Nhập tin tức cần tìm'}"
                                            onfocus="javascript:if(this.value=='Nhập tin tức cần tìm'){this.value=''}">
                                        <a href="/"><span class="icoSearTop"></span></a>
                                    </form>
                                </div>
                            </div>
                       </div>
                   </div>
                   <!--END MENU RIGHT-->
       
                   <!--START MENU LEFT-->
                   <!--24h-->
                   <div class="contnr">
                       <div class="log">
                           <div class="hmClk logoOld">
                               <a href="/"><img class="initial loading" alt="img home"
                                       src="https://cdn.24h.com.vn/images/2014/24h_logo_trang_chu_2015.png"></a>
                           </div>
                       </div>
                   </div>
                   >
                   <!--END MENU LEFT-->
               </div>
           </header>
           
        </div>

        <!--CONTAINER-->
        <div class="container">
             <!-- Phần đầu của bảng tin-->
              <!--- CHỦ ĐỀ TIẾP 0 -->
             <div class="zn-container">
                
                    <div class="flex-container">
    
                       
                            <div class="zn__column--idx-0 column   "> 
                                
                                <ul class="cn-list-hierarchical-xs">
                                    <li class="cn__listitem">
                                        <div class="cd_headline_hot_last">
                                            <a href="/<%= results[0].type%>/<%= results[0].id%>">
                                                <h2 class="screaming-banner-text">
                                                    <%= results[0].name%>
                                                    
                                                </h2>
                                            </a>
                                        </div>
                                            <div class="cd-wrapper">
                                                <div class="media">
                                                    <a href="/<%= results[0].type%>/<%= results[0].id%>">
                                                        <img class="media_image" src="<%=results[0].image2%>" width="100%" height="250">
                                                    </a>
                                                </div>
                                                <div class="cd_content">
                                                    <h3 class="cd_headline">
                                                        <a href="#">
                                                            
                                                            <span class="cd_headline-text-hot">
                                                                <div>                                          
                                                                    
                                                                          </div>
                                                            </span>
                                                        </a>
                                                    </h3>
                                                </div>
                                            </div>
                                    </li>



                  

                      
                         <%for(var i=1;i<=4;i++){
                          %>                        
                                  <li>
                                    <div class="cd-wrapper">
                                        <div class="cd_content">
                                            <h3 class="cd_headline">
                                                <a href="/<%= results[i].type%>/<%= results[i].id%>">
                                                    <div class="cd_headline-text">
                                                     <%=results[i].name%>
                                                    </div>
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                    </li>
                                  <%
                           }%>
                        
                          
              
           

                                    
                                   
                                </ul>
                                
                                
                            
                                
                            </div>
                            
                            <div class="zn__column--idx-1 column "> 
                                
                                    <ul class="cn-list-hierarchical-xs">
                                     <a class="cn__title--link" href="/kinhdoanh">
                                                <h2 class="cn_tittle">
                                                        Kinh Doanh
                                                      </h2>
                                        </a>
                                        
                                    </ul>
                                    <li>    
                                        <div class="cd-wrapper">
                                            <div class="media">
                                                <a href="/<%= results[5].type%>/<%= results[5].id%>">
                                                    <img class="media_image" src="<%= results[5].image1 %>" width="100%" height="auto">
                                                </a>
                                                <div class="img_preloader"></div>
                                            </div>
                                            <div class="cd_content">
                                                <h3 class="cd_headline">
                                                    <div class="cd_headline_hot">
                                                    <a href="/<%= results[5].type%>/<%= results[5].id%>">
                                                        <span class="cd_headline-text"><%= results[5].name%> </span>
                                                        <span class="cd_headline-icon"></span>
                                                    </a>
                                                    </div>
    
                                                </h3> 
                                            </div>
                                        </div>
                                    </li>

                           <% for(var i = 6 ; i <= 11 ; i++){
                           %>
                                  
                                    <li>
                                        <div class="cd-wrapper">
                                            <div class="cd_content">
                                                <h3 class="cd_headline">
                                                    <a href="/<%= results[i].type%>/<%= results[i].id%>">
                                                        <span class="cd_headline-text">
                                                               <%=results[i].name%>
                                                        </span>
                                                        <span class="cd_headline-icon">
                                                            
                                                        </span>
                                                    </a>
                                                </h3>
                                            </div>
                                        </div>
                                    </li>
                                   <% 
                                }%>
                                    
                            </div>
                        
                     

                            <div class="zn__column--idx-2 column"> 
                                
                                <ul class="cn-list-hierarchical-xs">
                                <a class="cn__title--link" href="/hitech">
                                    <h2 class="cn_tittle">Thời trang Hi-tech</h2>
                                    </a>
                                </ul>
                                <li>    
                                    <div class="cd-wrapper">
                                        <div class="media">
                                            <a href="/<%= results[12].type%>/<%= results[12].id%>">
                                              <img class="media_image" src="<%= results[12].image1 %>" width="100%" height="auto">
                                            </a>
                                            <div class="img_preloader"></div>
                                        </div>
                                        <div class="cd_content">
                                            <h3 class="cd_headline">
                                                <div class="cd_headline_hot">
                                                <a href="/<%= results[12].type%>/<%= results[12].id%>">
                                                    <span class="cd_headline-text"><%=results[12].name%>
                                                    </span>
                                                    <span class="cd_headline-icon"></span>
                                                </a>
                                                </div>
    
                                            </h3> 
                                        </div>
                                    </div>
                                </li>



                         <% for(var i = 13 ; i <= 17 ; i++){
                           %>
                                <li>
                                    <div class="cd-wrapper">
                                        <div class="cd_content">
                                            <h3 class="cd_headline">
                                                <a href="/<%= results[i].type%>/<%= results[i].id%>">
                                                    <span class="cd_headline-text">
                                                        <%=results[i].name%>                                           </span>
                                                    <span class="cd_headline-icon">
                                                        
                                                    </span>
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                </li>
                                 <% 
                                }%>
                            
                                
                            </div>
                        </div>
                   
                </div>
    
                

            <!--- CHỦ ĐỀ TIẾP 1 -->
                <div class="l-container ">
                    <div class="flex-container">
                            <div class="zn__column--idx-0 column">
                                <ul class="cn-list-hierarchical-xs">
                                    <a class="cn__title--link" href="/thitruong">
                                        <h2 class="cn_tittle">
                                           Thị Trường
                                        </h2>
                                    </a>
    
                        <!-- HOT TITILE-->
                                    <li>
                                    <div class="cd-wrapper">
                                        <div class="media">
                                            <a href="/<%= results[18].type%>/<%= results[18].id%>">
                                                <img class="media-image" src="<%=results[18].image1%> " width="100%" height="169">
                                                <div class="img-preloader"></div>
                                            </a>
                                        </div>
                                        <div class="cd_content_hot">
                                            <h3 class="cd_headline">
                                            <a href="#">
                                                <span class="cd_headline-text">
                                                      <%=results[18].name%>  
                                                </span>
                                                <span class="cd_headline-icon"></span>
                                            </a>
                                            </h3>
                                        </div>
                                    </div>
                                    </li>
                                
                        <!--TIN LIÊN QUAN-->

                      <% for(var i = 19 ; i <= 22 ; i++){
                           %>
                                    <li>
                                        <div class="cd-wrapper">
                                            <div class="flex-media-content">
                                                <div class="media">
                                                    <a href="/<%= results[i].type%>/<%= results[i].id%>">
                                                        <img class="media-image" src=" <%=results[i].image1%> " width="75" height="75">
                                                        <div class="img-preloader"></div>
                                                    </a>
                                                </div>
                                                <div class="cd_content">
                                                    <h3 class="cd_headline">
                                                        <a href="/<%= results[i].type%>/<%= results[i].id%>">
                                                            <div class="cd_headline-text">
                                                                    <%=results[i].name%> 
                                                                </div>
                                                        </a>
                                                    </h3>
                                                </div>
                                            </div>
                                    </div>
                                    </li>
                                
                                      <% 
                                }%>
                                
                                
                                </ul>
                            </div>
                            <div class="zn__column--idx-1 column">
                                    <ul class="cn-list-hierarchical-xs">
                                        <a class="cn__title--link" href="/<%= results[23].type%>/<%= results[23].id%>">
                                        </a>
                            <!-- HOT TITILE-->
                                        <li>
                                        <div class="cd-wrapper">
                                            <div class="media">
                                                <a href="#">
                                                    <img class="media-image" src="<%=results[23].image1%>" width="100%" height="258">
                                                    <div class="img-preloader"></div>
                                                </a>
                                            </div>
                                            <div class="cd_content_hot">
                                                <h3 class="cd_headline">
                                                <a href="/<%= results[23].type%>/<%= results[23].id%>">
                                                    <span class="cd_headline-text">
                                                            <%=results[23].name%> 
                                                    </span>
                                                    <span class="cd_headline-icon"></span>
                                                </a>
                                                </h3>
                                            </div>
                                        </div>
                                        </li>
                            <!--TIN LIÊN QUAN-->
                                        <li>
                                            <div class="cd-wrapper">
                                                <div class="flex-media-content">
                                                    <div class="media">
                                                        <a href="/<%= results[24].type%>/<%= results[24].id%>">
                                                            <img class="media-image" src=" <%=results[24].image1%>" width="184" height="104">
                                                            <div class="img-preloader"></div>
                                                        </a>
                                                    </div>
                                                    <div class="cd_content">
                                                        <h3 class="cd_headline">
                                                            <a href="/<%= results[24].type%>/<%= results[24].id%>">
                                                                <div class="cd_headline-text">
                                                                        <%=results[24].name%>
                                                                    </div>
                                                            </a>
                                                        </h3>
                                                    </div>
                                                </div>
                                        </div>
                                        </li>
                                        <li>
                                                <div class="cd-wrapper">
                                                    <div class="flex-media-content">
                                                            <div class="media">
                                                                    <a href="/<%= results[40].type%>/<%= results[40].id%>">
                                                                        <img class="media-image" src="<%=results[40].image1%>" width="184" height="104">
                                                                        <div class="img-preloader"></div>
                                                                    </a>
                                                                </div>
                                                            <div class="cd_content">
                                                                <h3 class="cd_headline">
                                                                    <a href="/<%= results[40].type%>/<%= results[40].id%>">
                                                                        <div class="cd_headline-text">
                                                                                <%=results[40].name%>
                                                                            </div>
                                                                    </a>
                                                                </h3>
                                                            </div>
                                                    </div>
                                                
                                                </div>
                                        </li>
                                    </ul>
                            </div>
    
                            <div class="zn__column--idx-2 column">
                                    <ul class="cn-list-hierarchical-xs">
                                        <a class="cn__title--link" href="/showbiz">
                                            <h2 class="cn_tittle">
                                                    ShowBiz
                                            </h2>
                                        </a>
                    
                            <!-- HOT TITILE-->
                                        <li>
                                        <div class="cd-wrapper">
                                            <div class="media">
                                                <a href="/<%= results[25].type%>/<%= results[25].id%>">
                                                    <img class="media-image" src="<%=results[25].image2%> " width="100%" height="169">
                                                    <div class="img-preloader"></div>
                                                </a>
                                            </div>
                                            <div class="cd_content_hot">
                                                <h3 class="cd_headline">
                                                <a href="/<%= results[25].type%>/<%= results[25].id%>">
                                                    <span class="cd_headline-text">
                                                             <%=results[25].name%> 
                                                    </span>
                                                    <span class="cd_headline-icon"></span>
                                                </a>
                                                </h3>
                                            </div>
                                        </div>
                                        </li>
                                    
                            <!--TIN LIÊN QUAN-->

                              <% for(var i = 26 ; i <= 29 ; i++){
                                 %>
                                        <li>
                                            <div class="cd-wrapper">
                                                <div class="flex-media-content">
                                                    <div class="media">
                                                        <a href="/<%= results[i].type%>/<%= results[i].id%>">
                                                            <img class="media-image" src="<%=results[i].image1%>" width="75" height="75">
                                                            <div class="img-preloader"></div>
                                                        </a>
                                                    </div>
                                                    <div class="cd_content">
                                                        <h3 class="cd_headline">
                                                            <a href="/<%= results[i].type%>/<%= results[i].id%>">
                                                                <div class="cd_headline-text">
                                                                         <%=results[i].name%>
                                                                    </div>
                                                            </a>
                                                        </h3>
                                                    </div>
                                                </div>
                                        </div>
                                        </li>      
                                      <% 
                                    }%>
                                
                                    
                                    </ul>
                                </div>
                        </div>
                </div>  
                
            

                 <!--- CHỦ ĐỀ TIẾP 3 -->
                 <div class="zn-container-next ">
                
                        <div class="flex-container">
        
                        
                                <div class="zn__column--idx-2 column "> 
                                    
                                        <ul class="cn-list-hierarchical-xs">
                                        <a class="cn__title--link" href="/suckhoe">
                                            <h2 class="cn_tittle">Sức khỏe</h2>
                                        </a>
                                        </ul>
                                        <li>    
                                            <div class="cd-wrapper">
                                                <div class="media">
                                                    <a href="/<%= results[30].type%>/<%= results[30].id%>">
                                                        <img class="media_image" src="<%=results[30].image1%>" width="100%" height="220">
                                                    </a>
                                                    <div class="img_preloader"></div>
                                                </div>
                                                <div class="cd_content">
                                                    <h3 class="cd_headline">
                                                        <div class="cd_headline_hot">
                                                        <a href="/<%= results[30].type%>/<%= results[30].id%>">
                                                            <span class="cd_headline-text"> <%=results[30].name%>
                                                            </span>
                                                            <span class="cd_headline-icon"></span>
                                                        </a>
                                                        </div>
            
                                                    </h3> 
                                                </div>
                                            </div>
                                        </li>


                                 <% for(var i = 31 ; i <= 33 ; i++){
                                 %>

                                        <li>
                                            <div class="cd-wrapper">
                                                <div class="cd_content">
                                                    <h3 class="cd_headline">
                                                        <a href="/<%= results[i].type%>/<%= results[i].id%>">
                                                            <span class="cd_headline-text">
                                                                <%=results[i].name%>                                         </span>
                                                            <span class="cd_headline-icon">
                                                                
                                                            </span>
                                                        </a>
                                                    </h3>
                                                </div>
                                            </div>
                                        </li>
                                       
                                      <% 
                                    }%>
                                
                                        
                                </div>
                                
                                <div class="zn__column--idx-1 column "> 
                                    
                                        <ul class="cn-list-hierarchical-xs">
                                         <a class="cn__title--link" href="/phaidep">
                                            <h2 class="cn_tittle">Phái Đẹp </h2>
                                            </a>
                                        </ul>
                                        <li>    
                                            <div class="cd-wrapper">
                                                <div class="media">
                                                    <a href="/<%= results[34].type%>/<%= results[34].id%>">
                                                        <img class="media_image" src="<%=results[34].image1%>" width="100%" height="220">
                                                    </a>
                                                    <div class="img_preloader"></div>
                                                </div>
                                                <div class="cd_content">
                                                    <h3 class="cd_headline">
                                                        <div class="cd_headline_hot">
                                                        <a href="/<%= results[34].type%>/<%= results[34].id%>">
                                                            <span class="cd_headline-text"><%=results[34].name%></span>
                                                            <span class="cd_headline-icon"></span>
                                                        </a>
                                                        </div>
        
                                                    </h3> 
                                                </div>
                                            </div>
                                        </li>


                                 <% for(var i = 35 ; i <= 39 ; i++){
                                 %> 
                                        <li>
                                            <div class="cd-wrapper">
                                                <div class="cd_content">
                                                    <h3 class="cd_headline">
                                                        <a href="/<%= results[i].type%>/<%= results[i].id%>">
                                                            <span class="cd_headline-text">
                                                                    <%=results[i].name%>
                                                            </span>
                                                            <span class="cd_headline-icon">
                                                                
                                                            </span>
                                                        </a>
                                                    </h3>
                                                </div>
                                            </div>
                                        </li>
                                     <% 
                                    }%>

                                       
                                    
                                        
                                </div>
                            
                        
                                <div class="zn__column--idx-2 column "> 
                                    
                                    <ul class="cn-list-hierarchical-xs">
                                     <a class="cn__title--link" href="/amthuc">
                                        <h2 class="cn_tittle">Ẩm Thực</h2>
                                    </a>
                                    </ul>
                                    <li>    
                                        <div class="cd-wrapper">
                                            <div class="media">
                                                <a href="/<%= results[40].type%>/<%= results[40].id%>">
                                                    <img class="media_image" src="<%=results[40].image1%>" width="100%" height="220">
                                                </a>
                                                <div class="img_preloader"></div>
                                            </div>
                                            <div class="cd_content">
                                                <h3 class="cd_headline">
                                                    <div class="cd_headline_hot">
                                                    <a href="/<%= results[40].type%>/<%= results[40].id%>">
                                                        <span class="cd_headline-text"> <%=results[40].name%>
                                                        </span>
                                                        <span class="cd_headline-icon"></span>
                                                    </a>
                                                    </div>
        
                                                </h3> 
                                            </div>
                                        </div>
                                    </li>


                                 <% for(var i = 41 ; i <= 47 ; i++){
                                 %> 
                                    <li>
                                        <div class="cd-wrapper">
                                            <div class="cd_content">
                                                <h3 class="cd_headline">
                                                    <a href="/<%= results[i].type%>/<%= results[i].id%>">
                                                        <span class="cd_headline-text">
                                                           <%=results[i].name%>                                           </span>
                                                        <span class="cd_headline-icon">
                                                            
                                                        </span>
                                                    </a>
                                                </h3>
                                            </div>
                                        </div>
                                    </li>
                                        <% 
                                    }%>


                                
                                    
                                </div>>

                            
                            </div>
                </div>           

            
        </div>

      
        <!--SLIDE-->
        
    <div class="slide_hot_week">
            <div class="main-content">
                    <div class="text_hot_week">
                    Tin hot trong tuần 
                    </div> 
                    <div class="owl-carousel ">
                        <div class="item">
                                <div class="inner">
                                    <div class="figure">
                                            <a href="/<%= results[47].type%>/<%= results[47].id%>">
                                                    <img src=" <%=results[47].image1%>  " alt="Picture 1" height="180">
                                            </a>
                                    </div>
                                    
                                    
                                <div class="padding">
                                    <div class="detail">
                                        <div class="time">December 11, 2016</div>
                                        <div class="category"><a href="/<%= results[47].type%>/<%= results[47].id%>">Travel</a></div>
                                    </div>
                                    <h2>
                                        <a href="/<%= results[47].type%>/<%= results[47].id%>">	
                                        <%=results[47].time%> 
                                        </a>
                                    </h2>
                                    <p>  <%=results[47].contentSummary%></p>
                                </div>
                                </div>
                        </div>
                        <div class="item">
                                <div class="inner">	
                                    <div class="figure">
                                            <a href="/<%= results[49].type%>/<%= results[49].id%>">
                                                    <img src="<%=results[49].image1%>" alt="Picture 2" height="180">
                                                </a>
                                    </div>
                                    
                                    
                                <div class="padding">
                                    <div class="detail">
                                        <div class="time">December 11, 2016</div>
                                        <div class="category"><a href="#">Travel</a></div>
                                    </div>
                                    <h2>
                                        <a href="/<%= results[49].type%>/<%= results[49].id%>">
                                    <%=results[49].name%>
                                        </a>
                                    </h2>
                                    <p><%=results[49].contentSummary%></p>
                                </div>
                                </div>
                        </div>
                        <div class="item">
                                <div class="inner">
                                    <div class="figure">
                                            <a href="/<%= results[29].type%>/<%= results[29].id%>">
                                                    <img src="<%=results[29].image1%>" alt="Picture 3" height="180">
                                                </a>
                                    </div>
                                    
                                    
                                <div class="padding">
                                    <div class="detail">
                                        <div class="time">December 11, 2016</div>
                                        <div class="category"><a href="#">Travel</a></div>
                                    </div>
                                    <h2>
                                        <a href="/<%= results[29].type%>/<%= results[29].id%>">
                                    <%=results[29].name%>
                                        </a>
                                    </h2>
                                    <p><%=results[29].contentSummary%></p>
                                </div>
                                </div>
                        </div>
                        <div class="item">
                                <div class="inner">
                                    <div class="figure">
                                            <a href="/<%= results[22].type%>/<%= results[22].id%>">
                                                    <img src="<%=results[22].image1%>" alt="Picture 4" height="180">
                                                </a>
                                    </div>
                                    
                                    
                                <div class="padding">
                                    <div class="detail">
                                        <div class="time">December 11, 2016</div>
                                        <div class="category"><a href="#">Travel</a></div>
                                    </div>
                                    <h2>
                                        <a href="/<%= results[22].type%>/<%= results[22].id%>">
                                    <%=results[22].name%>
                                        </a>
                                    </h2>
                                    <p><%=results[22].contentSummary%></p>
                                </div>
                                </div>
                        </div>
                    </div>
                    
                </div>
    </div>
        
    



        <!--END-SLIDE-->
        
         <!---phần cuối trang-->
                <div>          
                                
                        <div style="margin: 0 auto;text-align: center;background: #383535;padding: 5px;">
                            <a href="/gioithieu" class="tabCuoi">Giới thiệu</a>|
                            <a href="/feedback" class="tabCuoi">Góp ý</a>|
                            
                        </div>
                        <!------>
                    <div class="chuCuoi">
                            <p>© 2017 Trường Đại học Công nghệ, Đại học Quốc Gia Hà Nội </p>

                            <p>	Địa chỉ: E3, 144 Xuân Thủy, Cầu Giấy, Hà Nội </p>
                            <p>	Điện thoại: 024.37547.461; Fax: 024.37547.460; Email: uet@vnu.edu.vn
                                </p>
                    </div>
                    <!----->  
                    
            </div>
<!--hết phần cuối trang-->
        
     </div>
   





<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="../Scripts/slide_show.js"></script>

</body>

</html>